@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: "Poppins", serif;
    background-color: #0e0e10;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #18181b;
    font-weight: 550;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #bf94ff;
    text-decoration: none;
    margin-right: 20px;
}

.login-button {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    background-color: rgba(83, 83, 95, 0.38);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    transition: 0.085s;
}

.login-button:hover {
    background-color: rgba(83, 83, 95, 0.48)
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.085s;
}

.nav-link:hover {
    color: #bf94ff;
}

.register-button {
    background-color: #9147ff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.085s;
    font-size: 13px;
}

.register-button:hover {
    background-color: #772ce8;
    color: white;
}

purple {
    color: #bf94ff;
}

purple_line {
    color: #bf94ff;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px)
{
    .logo {
        font-size: 1rem;
    }

    .login-button {
        padding: 3.5px 10px;
    }

    .register-button {
        padding: 3.5px 10px;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.no-link-design {
    color: #bf94ff;
    transition: 0.085s;
}

.notification {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideDown 0.5s ease-out forwards, fadeOut 0.5s ease-out 4.5s forwards;
}

.notification.error {
    background-color: #ff4444;
}

.notification.success {
    background-color: #4CAF50;
}

@keyframes slideDown {
    to {
        top: 20px;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.notification i {
    font-size: 20px;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.notification .close {
    margin-left: auto;
    cursor: pointer;
    font-size: 22px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 32px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout {
    text-decoration: none;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #1f1f23;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 200px;
    margin-top: 10px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: normal !important;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #3a3a3d;
}

.dropdown-item i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.dropdown-item.logout {
    border-top: 2px solid #9147ff;
    padding-top: 10px;
    margin-top: 5px;
}

.dropdown-item.logout a {
    color: #fff;
    text-decoration: none;
}

.profile-dropdown.active .dropdown-content {
    display: block;
}

.dropdown-first {
    border-top: 2px solid #2f2f33;
}

.current-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-inline: 15px;
    margin-block: 5px;
}

.current-profile img {
    height: 30px;
    width: auto;
}

.current-profile p {
    font-size: 13px;
    font-weight: 550;
}

@media (max-width: 900px) {
    .notification {
        width: 70% !important;
    }
}